<!--<div class="container">-->
<div  class="container" style="max-width: 800px; margin: 02% auto">
  <div class="ui-g">
    <div id="h2" class="ui-g-12">
      <h2>Relatório de agendas por médico - AMS Clínica</h2>
    </div>

    <form #f="ngForm" (ngSubmit)="gerar()">
      <div class="ui-g-10 ui-md-10 ui-fluid">
      <!--<div class="ui-g-12">-->
        <div class="ui-g-10 ui-md-5 ui-fluid">
          <label>Data inicial:</label>
          <p-calendar dateFormat="dd/mm/yy" [locale]="pt_BR" required touchUI="true"
          showButtonBar="true" todayButtonStyleClass clearButtonStyleClass
          placeholder="Selecione" [(ngModel)]="periodoInicio" name="periodoInicio"></p-calendar>
        </div>
        <div class="ui-g-10 ui-md-5 ui-fluid">
          <label>Data final:</label>
          <p-calendar dateFormat="dd/mm/yy" [locale]="pt_BR" required touchUI="true"
          showButtonBar="true" todayButtonStyleClass clearButtonStyleClass
          placeholder="Selecione" [(ngModel)]="periodoFim" name="periodoFim"></p-calendar>
        </div>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Gerar"
          [disabled]="f.invalid"></button>
      </div>
    </form>
  </div>
</div>
