<div class="container">
    <div class="ui-g">
  
      <form autocomplete="off" (ngSubmit)="pesquisar()">
  
        <div class="ui-g-12">
          <h2>Agendamento de Consultas - Pesquisa de médicos</h2>
        </div>
  
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Médico:</label>
          <input pInputText type="text" name="medico"
            [(ngModel)]="filtro.medico">
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Data:</label>
          <p-calendar name="data" dateFormat="dd/mm/yy" [locale]="pt_BR" [minDate]="today" [maxDate]="dataLimite"
          [disabledDays]="[0,6]" showButtonBar="true" todayButtonStyleClass clearButtonStyleClass
          placeholder="Selecione" #data="ngModel" readonlyInput="true" showIcon="true"
          [(ngModel)]="filtro.dataAgendada"></p-calendar>
        </div>

        <!--<div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Hora:</label>
          <p-dropdown name="hora" [options]="horas" [(ngModel)]="filtro.horaAgendada" #hora="ngModel"
          [filter]="true"  [autoWidth]="false" showClear="true" [dropdownIcon]="relogio"></p-dropdown>
        </div>-->

        <!--<div class="ui-g-12 ui-md-3 ui-fluid">
          <p-dropdown name="car" [options]="cars" [(ngModel)]="selectedCar" [autoWidth]="false">
            <ng-template let-option pTemplate="item">
                <div>
                    <div (click)="onClick(option.disabled)" [ngStyle]="option.disabled? {'color': '#ccc', 'cursor': 'default'} : ''"> {{option.label}} </div>
                </div>
            </ng-template>
          </p-dropdown>
        </div>-->

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Hora:</label>
          <p-dropdown name="hora" [options]="horas" [(ngModel)]="filtro.horaAgendada" #hora="ngModel" [autoWidth]="false"
          showClear="true" [dropdownIcon]="relogio">
            <ng-template let-option pTemplate="item">
                <div>
                    <div (click)="onClick(option.disabled)" [ngStyle]="option.disabled? {'color': '#ccc', 'cursor': 'default'} : ''"> {{option.label}} </div>
                </div>
            </ng-template>
          </p-dropdown>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar"></button>
        </div>
  
      </form>
    </div>
  
    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="agendas" [responsive]="true"
            emptyMessage="Nenhuma agenda encontrada"
            [paginator]="true" [rows]="filtro.itensPorPagina"
            [lazy]="true" [totalRecords]="totalRegistros"
            (onLazyLoad)="aoMudarPagina($event)"
            #tabela>
            <ng-template pTemplate="header">
              <!--<tr><th colspan="5" [hidden]="agenda !== null">Horários indisponíveis</th></tr>-->
              <tr>
                <th>Médico</th>
                <th class="col-data-header">Data</th>
                <th  class="col-data-header">Hora</th>
                <th [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">Paciente</th> 
                <!--<th>Descriçao</th>-->
                <th class="col-acoes-header"></th>
              </tr>
            </ng-template>
          <ng-template pTemplate="body" let-agenda>
            <tr>
              <td>{{ agenda.medico.nome }}</td>
              <td class="col-data">{{ agenda.data | date:'dd/MM/yyyy' }}</td>
              <td class="col-data" [style.color]="agenda.ativo == '1' ? 'red' : 'blue'">{{ agenda.hora }}
              <td [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">{{ agenda.paciente.nome }}</td>
              <!--<td [innerHTML]="receita.descricao">{{ exame.descricao }}</td>-->
              <td class="col-acoes">
                <button pButton icon="fa-pencil" pTooltip="Editar"
                  tooltipPosition="top"
                  [routerLink]="['/agendas', agenda.codigo]"
                  [disabled]="!auth.temPermissao('ROLE_FUNCIONARIO')"></button>
                <button pButton icon="fa-trash"
                  pTooltip="Excluir" class="pi pi-check"
                  (click)="confirmarExclusao(agenda)"
                  [disabled]="!auth.temPermissao('ROLE_FUNCIONARIO')"></button>
              </td>
            </tr>
          </ng-template>
        
          <ng-template pTemplate="emptymessage" let-agenda>
            <tr>
              <td colspan="4">
                Agenda disponível
              </td>
              <!--<td colspan="1">
                <button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/agendas/nova']"></button>
              </td>-->
            </tr>
          </ng-template>
        </p-table>
      </div>
      
      <div class="ui-g-12">
        <a pButton label="Nova Agenda" routerLink="/agendas/nova"></a>
        <!--TODO 
        <p>{{today | date:'hh:mm:ss a':'-0300'}}</p>-->
      </div>
    </div>
  
  </div>
  
  