<div class="container">
    <div class="ui-g">
  
      <form autocomplete="off" (ngSubmit)="pesquisar()">
  
        <div id="h2" class="ui-g-12">
          <h2>Consultas cadastradas- AMS | Clínica</h2>
        </div>
  
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Médico:</label>
          <input pInputText type="text" name="medico"
            [(ngModel)]="filtro.medico">
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Data:</label>
          <p-calendar name="data" dateFormat="dd/mm/yy" [locale]="pt_BR" [minDate]="today" [maxDate]="dataLimite"
          [disabledDays]="[0,6]" showButtonBar="true" todayButtonStyleClass clearButtonStyleClass
          placeholder="Selecione" #data="ngModel" readonlyInput="true" showIcon="true"
          [(ngModel)]="filtro.dataAgendada"></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Hora:</label>
          <p-dropdown name="hora" [options]="horas" [(ngModel)]="filtro.horaAgendada" #hora="ngModel"
          [filter]="true"  [autoWidth]="false" showClear="true" [dropdownIcon]="relogio"></p-dropdown>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Pesquisar"></button>
        </div>
  
      </form>
    </div>
  
    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="agendas" [responsive]="true"
            emptyMessage="Nenhuma agenda encontrada"
            [paginator]="true" [rows]="filtro.itensPorPagina"
            [lazy]="true" [totalRecords]="totalRegistros"
            (onLazyLoad)="aoMudarPagina($event)"
            #tabela>
            <ng-template pTemplate="header">
              <tr>
                <th>Médico</th>
                <th class="col-data-header">Data</th>
                <th class="col-data-header">Hora</th>
                <th [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">Paciente</th> 
                <th class="col-data-header" [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">Data de Agend.</th> 
                <th class="col-data-header" [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">Hora de Agend.</th> 
                <th class="col-acoes-header"></th>
              </tr>
            </ng-template>
          <ng-template pTemplate="body" let-agenda>
            <tr>
              <td>{{ agenda.medico.nome }}</td>
              <td class="col-data">{{ agenda.data | date:'dd/MM/yyyy' }}</td>
              <td class="col-data" [style.color]="agenda.ativo == '1' ? 'red' : 'blue'">{{ agenda.hora }}
              <td [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">{{ agenda.paciente.nome }}</td>
              <td class="col-data" [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">{{ agenda.dataAgendamento | date:'dd/MM/yyyy' }}</td>
              <td class="col-data" [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">{{ agenda.horaAgendamento }}</td>
              <td class="col-acoes">
                <button pButton icon="fa-pencil" pTooltip="Editar"
                  tooltipPosition="top"
                  [routerLink]="['/agendas', agenda.codigo]"
                  [disabled]="!auth.temPermissao('ROLE_FUNCIONARIO')"></button>
                <button pButton icon="fa-trash"
                  pTooltip="Excluir" class="pi pi-check"
                  (click)="confirmarExclusao(agenda)"
                  [disabled]="!auth.temPermissao('ROLE_FUNCIONARIO')"></button>
              </td>
            </tr>
          </ng-template>
        
          <ng-template pTemplate="emptymessage" let-agenda>
            <tr>
              <td colspan="7" [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">
                Não existe agendamento cadastrado
              </td>
              <td colspan="4" [hidden]="auth.temPermissao('ROLE_FUNCIONARIO')">
                Não existe agendamento cadastrado
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      
      <div class="ui-g-12">
        <a pButton label="Nova Agenda" routerLink="/agendas/nova"></a>
      </div>
    </div>
  
  </div>
  
  