<div class="container">
  <form #f="ngForm" autocomplete="on" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div id="title" class="ui-g-12">
        <h2>{{ editando ? 'Edição de ' : 'Solicitação de ' }} Exames - AMS Clínica </h2>
      </div>

    <div id="content" #content  class="ui-g">

      
      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Paciente:</label>
        <p-dropdown name="paciente" [options]="pacientes"
          placeholder="Selecione" [autoWidth]="false"  [filter]="true"
          [(ngModel)]="exame.paciente.codigo"
          required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
        <label>Médico:</label>
        <p-dropdown name="medico" [options]="medicos"
          placeholder="Selecione" [autoWidth]="false"  [filter]="true"
          [(ngModel)]="exame.medico.codigo"
          required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-8 ui-fluid">
        <label>Exame:</label>
        <p-dropdown name="tipoExame" [options]="tiposexames"
          placeholder="Selecione" [autoWidth]="false"  [filter]="true"
          [(ngModel)]="exame.tipoExame.codigo"
          required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-fluid">
          <label>Descrição:</label>
        <p-editor name="descricao" [(ngModel)]="exame.descricao"  #descricao="ngModel" [style]="{'height':'320px'}">
          <p-header>
            <span class="ql-formats">
              <select class="ql-size">
                <option value="small">Petit</option>
                <option selected></option>
                <option value="large">Sous-titre</option>
                <option value="huge">Titre</option>
              </select>
            </span>
            <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button  type="button" class="ql-italic" aria-label="Italic"></button>
              <button type="button" class="ql-underline" aria-label="Underline"></button>
              <button  type="button" class="ql-strike" aria-label="Strike"></button>
            </span>
            <span class="ql-formats">
              <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
                <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
                ...
                <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
              </select>
              <span class="ql-format-separator"></span>
              <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
                <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
                ...
                <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
              </select>
          </span>
            <span class="ql-formats">
              <button type="button" class="ql-list" value="ordered"></button>
              <button type="button" class="ql-list" value="bullet"></button>
              <select title="Text Alignment" class="ql-align" >
                <option selected>Gauche</option>
                <option value="center" label="Center"></option>
                <option value="right" label="Right"></option>
                <option value="justify" label="Justify"></option>
              </select>            
            </span> 
            <span class="ql-formats">
              <button  type="button" aria-label="Link" class="ql-link"></button>
              <button  type="button" aria-label="Image" class="ql-image"></button>
            </span>
          </p-header>
        </p-editor>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Data:</label>
        <p>{{today | date:'dd/MM/yyyy'}}</p> 
      </div>
      
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
      <!--<button pButton type="button" label="Novo" class="ui-button-info" (click)="novo(f)"></button>-->
      <button pButton type="button" label="Gerar PDF" class="ui-button-info" (click)="downloadPDF()"></button>
      <button pButton  routerLink="/exames" label="Pesquisar" pTooltip="Pesquisar exames" tooltipPosition="top"></button>
    </div>

    </div>

  </form>
</div>