
/*.custom .ui-scrollpanel-wrapper {
    border-right: 9px solid #f4f4f4; 
}

.custom .ui-scrollpanel-bar {
    background-color: #1976d2; 
    opacity: 1; 
    transition: background-color .3s; 
}

.custom .ui-scrollpanel-bar:hover {
    background-color: #135ba1;
}*/

#h2 {
    color: #337ab7;
}

#box-texto {
    text-align: center; 
    font-size: 20px;

    background: #FFFFFF;
    border-radius: 3px;
    /*padding: 70px 85px 110px 85px;*/
    padding: 0px 10px 0px 0px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.30);
    -moz-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.30);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.30);
    /*line-height: 1.5;*/

}

#box-imagem {
    background: #FFFFFF;
    border-radius: 3px;
    padding: 0px 40px 0px 0px;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.30);
    -moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.30);
    box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.30);
   
}
