<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()" 
    [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">

      <div id="title" class="ui-g-12">
        <h2>Pesquisar Médicos - AMS Clínica </h2>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
          [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12" [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">
      <p-table [value]="medicos" [responsive]="true"
          emptyMessage="Nenhum médico encontrado"
          [paginator]="true" [rows]="filtro.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros"
          (onLazyLoad)="aoMudarPagina($event)"
          #tabela>
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th>Especialização</th>
              <th>Crm</th>
              <th  class="col-data-header">Status</th>
              <th class="col-acoes-header"></th>
            </tr>
          </ng-template>
        <ng-template pTemplate="body" let-medico>
          <tr>
            <td>{{ medico.nome }}</td>
            <td>{{ medico.especializacao }}</td>
            <td>{{ medico.crm }}</td>
            <td class="col-data">
              <a href="javascript:;"
                [pTooltip]="medico.ativo ? 'Desativar' : 'Ativar'"
                tooltipPosition="top"
                (click)="alternarStatus(medico)">
                {{ medico.ativo ? 'Ativo' : 'Inativo' }}
              </a>
            </td>
            <td class="col-acoes">
              <button pButton icon="fa-pencil" pTooltip="Editar"
                tooltipPosition="top"
                [routerLink]="['/medicos', medico.codigo]"
                [disabled]="!auth.temPermissao('ROLE_ADMINISTRADOR')"></button>
              <button pButton icon="fa-trash"
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(medico)"
                [disabled]="!auth.temPermissao('ROLE_ADMINISTRADOR')"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4">
              Nenhum médico encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12" [hidden]="!auth.temPermissao('ROLE_ADMINISTRADOR')">
      <a pButton label="Novo Médico" routerLink="/medicos/novo"></a>
    </div>
  </div>

  <div class="ui-g-12" style="margin: 03% auto" 
  [hidden]="auth.temPermissao('ROLE_ADMINISTRADOR') || auth.temPermissao('ROLE_FUNCIONARIO')">
    <p-scrollPanel [style]="{width: '100%', height: '150px'}" styleClass="custom">
        <p-panel>
            <p-header>
                Equipe Médica da AMS | Clínica
            </p-header> 
            Pensar nas pessoas e em suas necessidades. O perfil do profissional que trabalha na 
            AMS - Clínica está voltado para esta missão. Temos profissionais 
            altamente especializados e com a formação profissional voltada para o atendimento humanitário. 
            Sabemos o que representa para cada cliente a busca por um atendimento médico de qualidade. 
            Por isso, a AMS - Clínica dedica os seus esforçoes para que o cliente tenho um atendimento dígno e 
            que seja atendido dentro das condições previamente estabelecidas. Abaixo temos a relação de profissionas
            que poderão auxiliar você na busca dos seus objetivos:
        </p-panel>
    </p-scrollPanel>
  </div>

  <div class="container" style="max-width: 600px; margin: 06% auto" 
  [hidden]="auth.temPermissao('ROLE_ADMINISTRADOR') || auth.temPermissao('ROLE_FUNCIONARIO')">
    <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true" [effectDuration]="100"></p-galleria>
  </div>

</div>

