<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()" 
    [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">

      <div id="title" class="ui-g-12">
        <h2>Pesquisar Médicos - AMS Clínica </h2>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
          [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12" [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">
      <p-table [value]="medicos" [responsive]="true"
          emptyMessage="Nenhum médico encontrado"
          [paginator]="true" [rows]="filtro.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros"
          (onLazyLoad)="aoMudarPagina($event)"
          #tabela>
          <ng-template pTemplate="header">
            <tr>
              <th>Nome</th>
              <th>Especialização</th>
              <th>Crm</th>
              <th class="col-acoes-header"></th>
            </tr>
          </ng-template>
        <ng-template pTemplate="body" let-medico>
          <tr>
            <td>{{ medico.nome }}</td>
            <td>{{ medico.especializacao }}</td>
            <td>{{ medico.crm }}</td>
            <!--<td class="col-data">{{ medico.horarioDisponivel | date:'dd/MM/yyyy' }}</td>-->
            <td class="col-acoes">
              <button pButton icon="fa-pencil" pTooltip="Editar"
                tooltipPosition="top"
                [routerLink]="['/medicos', medico.codigo]"
                [disabled]="!auth.temPermissao('ROLE_ADMINISTRADOR')"></button>
              <button pButton icon="fa-trash"
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(medico)"
                [disabled]="!auth.temPermissao('ROLE_ADMINISTRADOR')"></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhum médico encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12" [hidden]="!auth.temPermissao('ROLE_ADMINISTRADOR')">
      <a pButton label="Novo Médico" routerLink="/medicos/novo"></a>
    </div>
  </div>

  <div class="ui-g-12" style="margin: 03% auto" 
  [hidden]="auth.temPermissao('ROLE_ADMINISTRADOR') || auth.temPermissao('ROLE_FUNCIONARIO')">
    <p-scrollPanel [style]="{width: '100%', height: '100px'}" styleClass="custom">
        <p-panel>
            <p-header>
                Equipe Médica da AMS | Clínica
            </p-header> 
            This will render a list of car models within a data grid. The visual size of the grid will 
            be limited to a 500 x 500 pixel view, and the content can be scrollable horizontally and vertically. 
            By default, according to the selected UI theme, customized scrollbars will be rendered on the lines 
            of the following image:
        </p-panel>
    </p-scrollPanel>
  </div>

  <div class="container" style="max-width: 600px; margin: 06% auto" 
  [hidden]="auth.temPermissao('ROLE_ADMINISTRADOR') || auth.temPermissao('ROLE_FUNCIONARIO')">
    <p-galleria [images]="images" panelWidth="500" panelHeight="313" [showCaption]="true" [effectDuration]="100"></p-galleria>
  </div>

</div>

