<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div id="title"  class="ui-g-12">
        <h2>Registros: Visualização de Pessoas</h2>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>RG</label>
        <input pInputText type="text" name="rg" [(ngModel)]="filtro.rg">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="pessoas" [responsive]="true"
        emptyMessage="Nenhuma pessoa encontrada"
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela>

        <ng-template pTemplate="header">
            <tr>
              <th  class="col-data-header">Código</th>
              <th  class="col-data-header">RG</th>
              <th  class="col-data-header">Cidade</th>
              <th  class="col-data-header">Estado</th>
              <th  class="col-data-header">Status</th>
              <th  class="col-acoes-header"></th>
            </tr>
          </ng-template>

          <!--<p-column field="nome" header="Nome"></p-column>
          <p-column field="endereco.cidade" header="Cidade"></p-column>
          <p-column field="endereco.estado" header="Estado"></p-column>
          <p-column field="tipo" header="Tipo"></p-column>
          <p-column field="ativo" header="Status">

            <ng-template let-pes="rowData" pTemplate="body">
                <a href="javascript:;"
                    [pTooltip]="pes.ativo ? 'Desativar' : 'Ativar'"
                    tooltipPosition="top"
                    (click)="alternarStatus(pes)">
                  {{ pes.ativo ? 'Ativo' : 'Inativo' }}
                </a>
            </ng-template>
          </p-column>

          <p-column styleClass="col-acoes">
            <ng-template let-pes="rowData" pTemplate="body">
              <a pButton icon="fa-pencil" pTooltip="Editar"
              tooltipPosition="top"
              [routerLink]="['/pessoas', pes.codigo]"></a>
              <button pButton icon="fa-trash"
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(pes)"></button>
            </ng-template>
          </p-column>-->

          <ng-template pTemplate="body" let-pessoa>
              <tr>
                <td class="col-data-header">{{ pessoa.codigo }}</td>
                <td class="col-data-header">{{ pessoa.rg }}</td>
                <td class="col-data-header">{{ pessoa.endereco.cidade?.nome }}</td>
                <td class="col-data-header">{{ pessoa.endereco.cidade?.estado.nome }}</td>
                <td class="col-data">
                  <a href="javascript:;"
                    [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'"
                    tooltipPosition="top"
                    (click)="alternarStatus(pessoa)">
                    {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
                  </a>
                </td>
                <td class="col-acoes">
                  <button pButton icon="fa-pencil"
                    pTooltip="Editar" tooltipPosition="top"
                    [routerLink]="['/pessoas', pessoa.codigo]"></button>

                  <button pButton icon="fa-trash"
                    pTooltip="Excluir" tooltipPosition="top"
                    (click)="confirmarExclusao(pessoa)"></button>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="5">
                    Nenhuma pessoa encontrada
                  </td>
                </tr>
            </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Pessoa" routerLink="/pessoas/nova"></a>
    </div>
  </div>

</div>
