.navbar {
  padding: 0px 0;
  /*   background-color: #76b1d1; */
  background-color: #1e94d2;
}

b {
  font-size: 20px;
  font-weight: bold;
}

.pb {
  color: #fff;
}

.p2, a {
  font-size: 15px;
  color: #fff;
}

.p3  {
  font-size: 15px;
  color: #1e94d2;
}

.login-box-msg {
  color: #1e94d2;
}

.container-login {
  margin: 10% auto;
  max-width: 400px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  opacity: 0.95;
  filter: alpha(opacity=50);
  text-align: center;
}
.titulo {
text-align: center;
}