.navbar {
  padding: 0px 0;
  /*   background-color: #76b1d1; */
  background-color: #1e94d2;
}

b {
  font-size: 20px;
  font-weight: bold;
}

.p2, a {
  font-size: 15px;
  color: #fff;
}

.p3  {
  font-size: 15px;
  color: #1e94d2;
}

