<div class="container">
  <div class="ui-g">
    <div id="title" class="ui-g-12">
      <h2>Painel de controle</h2>
    </div>

    <div class="ui-g-12 ui-md-6">
      <p-panel header="Lançamentos por exame">
        <p-chart type="pie" [data]="pieChartData" [options]="options"></p-chart>
      </p-panel>
    </div>

    <div class="ui-g-12 ui-md-6">
      <p-panel header="Lançamentos por dia">
        <p-chart type="line" [data]="lineChartData" [options]="options"></p-chart>
      </p-panel>
    </div>

  </div>
</div>
