<div  class="container" style="max-width: 800px; margin: 02% auto">
<!--<div class="container">-->
    <div class="ui-g-12">
    <div id="h2" class="ui-g-12">
      <h2>Painel de controle</h2>
    </div>

    <!--<div  class="container" style="max-width: 800px; margin: 02% auto">-->
        <div class="ui-g-10 ui-md-10 ui-fluid">
      <p-panel header="Exames por tipo">
        <p-chart type="pie" [data]="pieChartData" [options]="options"></p-chart>
      </p-panel>
    </div>

    <!--<div class="ui-g-10 ui-md-10 ui-fluid">
      <p-panel header="Solicitações por dia">
        <p-chart type="line" [data]="lineChartData" [options]="options"></p-chart>
      </p-panel>
    </div>-->

  </div>
</div>
