<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div id="title" class="ui-g-12">
        <h2>Pesquisar Solicitações</h2>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Paciente</label>
        <input pInputText type="text" name="paciente"
          [(ngModel)]="filtro.paciente">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="solicitacoes" [responsive]="true"
          emptyMessage="Nenhum prontuário encontrado"
          [paginator]="true" [rows]="filtro.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros"
          (onLazyLoad)="aoMudarPagina($event)"
          #tabela>
          <ng-template pTemplate="header">
            <tr>
              <th>Agenda</th>
              <th [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">Paciente</th>
              <th>Descrição</th>
              <th class="col-data-header">Data</th>
              <th class="col-acoes-header"></th>
            </tr>
          </ng-template>
        <ng-template pTemplate="body" let-solicitacao>
          <tr>
            <td>{{ solicitacao.agenda.codigo }}</td>
            <td [hidden]="!auth.temPermissao('ROLE_FUNCIONARIO')">{{ solicitacao.paciente.nome }}</td>
            <td [innerHTML]="solicitacao.descricao">{{ solicitacao.descricao }}</td>
            <td>{{ solicitacao.data | date:'dd/MM/yyyy' }}</td>
            <td class="col-acoes">
              <button pButton icon="fa-pencil" pTooltip="Editar"
                tooltipPosition="top"
                [routerLink]="['/solicitacoes', solicitacao.codigo]"></button>
              <button pButton icon="fa-trash"
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(solicitacao)"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma solicitacao encontrada
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12">
      <a pButton label="Nova Solicitação" routerLink="/solicitacoes/nova"></a>
    </div>

  </div>

</div>

