<div class="container">
  <div class="ui-g">
    <div class="ui-g-12 ui-fluid">
      <h2>Cadastro de Novo Usuário</h2>
    </div>

    <form #f="ngForm" [formGroup]="passwordsForm" autocomplete="off" (ngSubmit)="salvar(f)">

        <div class="form-group ui-g-12 ui-md-9 ui-fluid">
            <label for="nome" class="col-sm-2 control-label">Primeiro nome</label>
            <div class="col-sm-10">
                <input pInputText type="text" formControlName="primeiroNome" class="form-control" id="primeiroNome"
                placeholder="Digite o primeiro nome"
                [(ngModel)]="usuario.primeiroNome"
                required minlength="5">
            </div>
          <div class="alert alert-danger ui-message ui-messages-error" *ngIf="!passwordsForm.controls['primeiroNome']
          .valid && passwordsForm.controls['primeiroNome'].touched">
            O primeiro nome é obrigatório!</div>
        </div>

        <div class="form-group ui-g-12 ui-md-9 ui-fluid">
          <label for="nome" class="col-sm-2 control-label">Sobrenome</label>
          <div class="col-sm-10">
              <input pInputText type="text" formControlName="sobrenome" class="form-control" id="sobrenome"
              placeholder="Digite o sobrenome"
              [(ngModel)]="usuario.sobrenome"
              required minlength="5">
          </div>
        <div class="alert alert-danger ui-message ui-messages-error" *ngIf="!passwordsForm.controls['sobrenome']
        .valid && passwordsForm.controls['sobrenome'].touched">
          O sobrenome é obrigatório!</div>
      </div>

        <div class="form-group ui-g-12 ui-md-9 ui-fluid">
          <label for="email" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input pInputText type="email" formControlName="email" class="form-control" id="email"
            placeholder="E-mail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
            [(ngModel)]="usuario.email" required >
          </div>
          <div class="alert alert-danger ui-message ui-messages-error" *ngIf="!passwordsForm.controls['email']
          .valid && passwordsForm.controls['email'].touched">
            O email é obrigatório!</div>
        </div>


        <div class="form-group ui-g-12 ui-md-9 ui-fluid">
        <label for="senha" class="col-sm-2 control-label">Senha</label>
        <div class="col-sm-10">
          <input pInputText type="password" formControlName="senha" class="form-control" id="senha"
          placeholder="Senha"  required>
        </div>
        <div class="alert alert-danger ui-message ui-messages-error" *ngIf="!passwordsForm.controls['senha']
        .valid && passwordsForm.controls['senha'].touched">
          A senha deve ter ao menos 6 caracteres e devem ser iguais!</div>
      </div>

      <div class="form-group ui-g-12 ui-md-9 ui-fluid">
        <label for="confirmeSenha" class="col-sm-2 control-label ui-fluid">Confirme a senha</label>
        <div class="col-sm-10">
          <input pInputText type="password" formControlName="confirmeSenha" class="form-control" id="confirmeSenha"
          placeholder="Confirme a senha" [(ngModel)]="usuario.senha">
        </div>
      </div>

        <div class="ui-g-12">
            <button pButton type="submit" label="Salvar" [disabled]="passwordsForm.controls['confirmeSenha'].touched
            && passwordsForm.controls['confirmeSenha'].value !== passwordsForm.controls['senha'].value || f.invalid"></button>
            <button pButton type="button" label="Novo" class="ui-button-info"
            (click)="novo(f)"></button>
            <button pButton  routerLink="/usuarios" label="Pesquisar" pTooltip="Pesquisar usuários" 
            tooltipPosition="top"></button>
        </div>
    </form>
  </div>
</div>
