.disabled{
    color: #aaa;
    cursor: default;
    pointer-event: none;
}

#h2 {
    color: #337ab7;
}

/*body {
    background-image: url('https://s3.amazonaws.com/server-ams-arquivos/70716dc2-3f52-460a-9ffb-c0e3dd01b7f4_1.jpg') no-repeat center;
  }*/