<div  class="container" style="max-width: 800px; margin: 02% auto">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g-12">
      <div id="h2" class="ui-g-12">
        <h2>{{ editando ? 'Edição de ' : 'Cadastro de ' }} Consultas Médicas - AMS Clínica </h2>
      </div>

      <div class="ui-g-10 ui-md-10 ui-fluid">
        <label>Paciente:</label>
        <p-dropdown name="paciente" [options]="pacientes"
          placeholder="Selecione" [autoWidth]="false"  [filter]="true"
          [(ngModel)]="agenda.paciente.codigo"
          required></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-10 ui-fluid">
        <label>Email</label>
        <input pInputText type="email" name="email"
         placeholder="E-mail"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [(ngModel)]="agenda.email"
         #email="ngModel" required>

         <app-message [control]="email" error="required"
         text=" O email é obrigatório!"></app-message>

      </div>

      <div class="ui-g-10 ui-md-10 ui-fluid">
        <label>Médico:</label>
        <p-dropdown name="medico" [options]="medicos"
          placeholder="Selecione" [autoWidth]="false"  [filter]="true"
          [(ngModel)]="agenda.medico.codigo"
          required></p-dropdown>
      </div>

      <div class="ui-g-10 ui-md-5 ui-fluid">
        <label>Data:</label>
        <p-calendar name="data" dateFormat="dd/mm/yy"   [locale]="pt_BR"  [minDate]="diaSeguinte" [maxDate]="dataLimite"
        [disabledDays]="[0,6]" showButtonBar="true" todayButtonStyleClass clearButtonStyleClass showIcon="true"
        placeholder="Selecione" [(ngModel)]="agenda.data" #data="ngModel" readonlyInput="true" required></p-calendar>
      </div>

      <div class="ui-g-10 ui-md-5 ui-fluid">
        <label>Hora:</label>
        <p-dropdown name="hora" [options]="horas" [(ngModel)]="agenda.hora" #hora="ngModel"
        [filter]="true" [autoWidth]="false" [dropdownIcon]="relogio"></p-dropdown>
      </div>

      <!--<div class="ui-g-10 ui-md-6 ui-fluid">
        <label>Hora:</label>
        <p-calendar name="hora" dateFormat="dd/mm/yy"  [locale]="pt_BR" showTime="true" stepMinute=1
        [disabledDays]="[0,6]" showButtonBar="true" todayButtonStyleClass clearButtonStyleClass showIcon="true"
        placeholder="Selecione" [(ngModel)]="agenda.hora" #hora="ngModel" readonlyInput="true" required></p-calendar>
      </div>-->
    
    <div class="ui-g-10">
      <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
      <button pButton type="button" label="Nova" class="ui-button-info" (click)="nova(f)"></button>
      <button pButton  routerLink="/agendas" label="Pesquisar" pTooltip="Pesquisar médicos" 
      tooltipPosition="top"></button>
    </div>
    </div>
  </form>
</div>