<div class="container">
  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div id="h2" class="ui-g-12">
        <h2>Pesquisar Prontuários</h2>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Paciente:</label>
        <input pInputText type="text" name="paciente"
          [(ngModel)]="filtro.paciente">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>
  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <p-table [value]="prontuarios" [responsive]="true"
          emptyMessage="Nenhum prontuário encontrado"
          [paginator]="true" [rows]="filtro.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros"
          (onLazyLoad)="aoMudarPagina($event)"
          #tabela>
          <ng-template pTemplate="header">
            <tr>
              <th>Paciente</th>
              <th>Relatório</th>
              <th class="col-acoes-header"></th>
            </tr>
          </ng-template>
        <ng-template pTemplate="body" let-prontuario>
          <tr>
            <td>{{ prontuario.paciente.nome }}</td>
            <!--<td>{{ prontuario.relatorio }}</td>-->
            <td [innerHTML]="prontuario.relatorio">{{ prontuario.relatorio }}</td>
            <td class="col-acoes">
              <button pButton icon="fa-pencil" pTooltip="Editar"
                tooltipPosition="top"
                [routerLink]="['/prontuarios', prontuario.codigo]"></button>
              <button pButton icon="fa-trash"
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(prontuario)"
              ></button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3">
              Nenhum prontuário encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="ui-g-12" [hidden]="!auth.temPermissao('ROLE_MEDICO')">
      <a pButton label="Novo Prontuário" routerLink="/prontuarios/novo"></a>
    </div>

  </div>

</div>

