<div class="container">
    <form autocomplete="off" (ngSubmit)="salvar()" [formGroup]="formulario">
  
      <div class="ui-g">
        <div id="h2" class="ui-g-12">
          <h2>{{ editando ? 'Edição de ' : 'Nova' }} Solicitação - AMS Clínica</h2>
  
        </div>

        <div class="ui-g-12">
          <p-selectButton name="tipo" [options]="tipos"
            formControlName="tipo"></p-selectButton>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Email:</label>
          <input pInputText type="email" name="email" placeholder="E-mail" 
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
          formControlName="email">
          <app-message [control]="formulario.get('email')" error="obrigatoriedade"
          text="O email é obrigatório"></app-message>
        </div>
  
        <div class="ui-g-12 ui-md-6 ui-fluid" formGroupName="paciente">
            <label>Paciente:</label>
            <p-dropdown name="paciente" [options]="pacientes"
              placeholder="Selecione" [autoWidth]="false"  [filter]="true"
              formControlName="codigo"></p-dropdown>
        </div>

        <div class="ui-g-12 ui-fluid">
            <label>Descrição:</label>
          <p-editor formControlName="descricao" [style]="{'height':'320px'}">
            <p-header>
              <span class="ql-formats">
                <select class="ql-size">
                  <option value="small">Petit</option>
                  <option selected></option>
                  <option value="large">Sous-titre</option>
                  <option value="huge">Titre</option>
                </select>
              </span>
              <span class="ql-formats">
                <button type="button" class="ql-bold" aria-label="Bold"></button>
                <button  type="button" class="ql-italic" aria-label="Italic"></button>
                <button type="button" class="ql-underline" aria-label="Underline"></button>
                <button  type="button" class="ql-strike" aria-label="Strike"></button>
              </span>
              <span class="ql-formats">
                <select title="Text Color" class="ql-color" defaultValue="rgb(0, 0, 0)">
                  <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
                  ...
                  <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
                </select>
                <span class="ql-format-separator"></span>
                <select title="Background Color" class="ql-background" defaultValue="rgb(255, 255, 255)">
                  <option value="rgb(0, 0, 0)" label="rgb(0, 0, 0)"></option>
                  ...
                  <option value="rgb(61, 20, 102)" label="rgb(61, 20, 102)"></option>
                </select>
            </span>
              <span class="ql-formats">
                <button type="button" class="ql-list" value="ordered"></button>
                <button type="button" class="ql-list" value="bullet"></button>
                <select title="Text Alignment" class="ql-align" >
                  <option selected>Gauche</option>
                  <option value="center" label="Center"></option>
                  <option value="right" label="Right"></option>
                  <option value="justify" label="Justify"></option>
                </select>            
              </span> 
              <span class="ql-formats">
                <button  type="button" aria-label="Link" class="ql-link"></button>
                <button  type="button" aria-label="Image" class="ql-image"></button>
              </span>
            </p-header>
          </p-editor>
  
          <app-message [control]="formulario.get('descricao')" error="obrigatoriedade"
          text="Descrição é obrigatória"></app-message>
        </div>

        
        <div class="ui-g-6 ui-g-offset-6 ui-md-2 ui-md-offset-10 ui-fluid" 
        *ngIf="!formulario.get('anexo').value">
          <p-fileUpload name="anexo" mode="basic" auto="true" maxFileSize="100000000"
            chooseLabel="Anexar" accept="image/*,application/*"
            [url]="urlUploadAnexo"
            (onBeforeSend)="antesUploadAnexo($event)"
            (onUpload)="aoTerminarUploadAnexo($event)"
            (onError)="erroUpload($event)"
            [hidden]="uploadEmAndamento"></p-fileUpload>
  
          <p-progressSpinner [hidden]="!uploadEmAndamento"
            [style]="{ width: '25px', height: '25px' }"></p-progressSpinner>
        </div>
  
        <div class="ui-g-12" dir="rtl"
          *ngIf="formulario.get('anexo').value">
          <button pButton type="button" class="ui-button-danger"
          icon="fa-close" pTooltip="Remover anexo" tooltipPosition="top"
          (click)="removerAnexo()"></button>
  
          <a target="_blank" pTooltip="Baixar anexo" tooltipPosition="top"
            [href]="formulario.get('urlAnexo').value">{{ nomeAnexo }}</a>
        </div>
  
        <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid || uploadEmAndamento"></button>
          <!--<button pButton type="button" label="Nova" class="ui-button-info"
          (click)="nova()"></button>-->
          <button pButton  routerLink="/solicitacoes" label="Pesquisar" pTooltip="Pesquisar solicitações" tooltipPosition="top" 
          [disabled]="!auth.temPermissao('ROLE_FUNCIONARIO')"></button>
          <button pButton type="button" routerLink="/agendas/nova" label="Agendar" pTooltip="Nova agenda" tooltipPosition="top"></button>
        </div>
      </div>
  
    </form>
  </div>

  