<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h2>{{ editando ? 'Edição de ' : 'Novo ' }}Funcionário</h2>
        <!--<h2>{{ classificando ? : 'Cliente' : 'Funcionário' }}</h2>-->
      </div>

      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>CPF</label>
        <p-dropdown name="pessoa" [options]="pessoas"
          placeholder="Selecione" [autoWidth]="false"  [filter]="true"
          [(ngModel)]="funcionario.pessoa.codigo"
          required></p-dropdown>
      </div>


      <div class="ui-g-12 ui-md-10 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
          [(ngModel)]="funcionario.nome"
          #nome="ngModel" required>

        <app-message [control]="nome" error="required"
          text="Informe o nome do funcionário"></app-message>
      </div>


      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Cargo</label>
        <input pInputText type="text" name="cargo"
          [(ngModel)]="funcionario.cargo"
          #cargo="ngModel" required>

        <!--<app-message [control]="cargo" error="required"
          text="Informe o cargo"></app-message>-->
      </div>

      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Setor</label>
        <input pInputText type="text" name="setor"
        [(ngModel)]="funcionario.setor" #setor="ngModel">
      </div>

      <!--<div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Data de Admissão</label>
        <p-calendar name="dataAdmissao" dateFormat="dd/mm/yy" [locale]="pt_BR"
          [inline]="false" [readonlyInput]="false" [showIcon]="false"
          [(ngModel)]="funcionario.dataAdmissao"
          #dataadmissao="ngModel" required></p-calendar>

        <app-message [control]="dataadmissao" error="required"
          text="Informe a data de admissão"></app-message>
      </div>-->

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Data de Admissão</label>
          <p-calendar name="dataAdmissao" dateFormat="dd/mm/yy"  [locale]="pt_BR"
          [(ngModel)]="funcionario.dataAdmissao" #dataadmissao="ngModel" required></p-calendar>
        </div>


      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
        (click)="novo(f)"></button>
        <a routerLink="/funcionarios">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>
</div>
